// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffebee;
}
th, td {
  white-space: nowrap;
}
.t_border
  th, td {
    white-space: normal;
  }
#footer_container{
  flex-grow: 1;
}
a {
  opacity: 1;
  transition: all 300ms;
}
a:hover {
  opacity: 0.7;
}
.top_wrapper {
  position: relative;
  min-height: 66vh;
  margin: 0 auto;
  padding: 10px 10px 20px 0;
  background-color: white;
  width: 1050px;
}
.side {
  padding: 0 -0.75em;
}
.nav_wrapper {
  margin: 0 auto;
  max-width: 1000px;
}
.nav_z {
  z-index: 1;
}
.footer_wrapper {
  margin: 0 auto;
  max-width: 850px;
    li {
    margin-bottom: 5px;
  }
}
.tc_logo {
  height: 130px;
  padding-top: 30px;
}
.material-icons {
  font-size: 1.2rem!important;
}
.schedule_title {
  font-weight: bold;
  color: #1a237e;
  font-size: 30px;
  text-align: center;
}
.use_header {
  font-size: 28px;
  padding-left: 10px;
  line-height: 40px;
  border-left: 10px solid #b71c1c;
  border-bottom: 2px solid #b71c1c;
}
.use_wrap {
  font-size: 16px;
  line-height: 1.5em;
    img {
    width: 100%;
    height: auto;
    }
    ol {
      padding-left: 20px;
    }
}
@media only screen and (max-width: 600px) {
  .form_title {
    font-size: 20px!important;
  }
  .hidden-xs {
    display: none !important;
  }
  .top_wrapper {
  width: 100%;
  }
}
.schedule_form {
  padding-left: 10px;
}
.form_result {
  font-size: 20px;
  color: green;
}
.memo{
  text-align: left!important;
  margin-left: 10px!important;
  line-height: 1.5em;
  margin: 0;
}
.tooltipped {
  cursor: pointer;
}
.card {
  line-height: 1.5em;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
