// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  opacity: 1;
  transition: all 300ms;
}
a:hover {
  opacity: 0.7;
}
.nav_w {
  margin: 0 auto;
  max-width: 750px;
  li {
    margin-bottom: 10px;
  }
}
.schedule_form {
  padding-left: 10px;
}
.form_result {
  font-size: 20px;
  color: green;
  }
.memo{
  text-align: left!important;
  margin-left: 10px!important;
  line-height: 1.5em;
  margin: 0;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}
#footer_container{
  flex-grow: 1;
}

