// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_title {
  font-weight: bold;
  color: #283593;
  font-size: 30px;
  text-align: center;
}
.form_name {
  font-size: 20px;
  text-align: center;
  }
.form_wrapper {
  margin: 30px auto;
  width: 750px;
  border: solid 1px;
  border-radius: 5px;
}
.student_wrapper {
  margin: 30px auto;
  width: 750px;
  border: solid 1px;
  border-radius: 5px;
}
.footer_img {
  margin-top: -10px;
}
#submit{ 
text-align: center; 
  i {
    padding: 0;
  }
}
#submit_user{ 
text-align: center; 
width: 80px;
i {
    padding: 0;
  }
}
#submit_button{ 
  padding: 10px 0;
  width: calc(32px + 4rem); 
}
.tc {
  text-transform: uppercase;
}
.search_bar {
  position: relative;
}
.btn-search{
  position: absolute;
  font-size: 30px;
  -webkit-transform:translate(0, -50%);
  -moz-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  -o-transform:translate(0, -50%);
  transform:translate(0, -50%);
  top: 23px;
  left: 190px;
  text-decoration: none;
}
.btn-flat {

  padding: 0 1rem;
}
.t_border {
  table, td, th {
  border: 1px solid;
  }
}
.btn-none {
  border: none;
  background-color: transparent;
  color: #039be5;
}

